.GameInfo-Wrapper {
    border: 1px solid grey;
    display: flex;
    flex-wrap: wowrap;
    /* justify-content: space-between;
    align-items: center; */
};

.GameInfo-Item {
    font-size: 10px;
    border: 1px solid red;
}

.GameInfo-Left {
    text-align: left;
};

.GameInfo-Right {
    text-align: right;
};